<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Na stránku otvorenezmluvy.sk bol pridaný nevhodný komentár</h1>

<p>
  Chodďte sa naň <%= link_to 'Pozrieť', document_url(@comment.document, :anchor => "comment_#{@comment.id}") %>.
</p>

<p>Prajeme príjemný deň :)</p>
</body>
</html>

