.menu {
    float: right;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 13px;
    height: 28px;
}
.menu li {
    float: left;
    padding: 0 10px;
    border-right: solid 1px #999;
    list-style: none;
}
.menu li a {
    color: #fff;
}
.menu li span {
    color: #888;
}
.menu li.nobr {
    border: none;
    padding-right: 3px;
}
.nopd, .menu li.nopd {
    padding: 0px;
}
