<div class="event" xmlns="http://www.w3.org/1999/html">
  <%= image_tag gravatar_url(current_user), size: '60x60', alt: current_user.name, class: 'event-img event-comment' %>

  <strong>Pridali ste <%= link_to_comment('komentár', event.comment) %> ku zmluve</strong>
  <p><em><% if event.comment.censored? %>Komentár bol medzičasom odstránený moderátorom.<% else %>"<%= truncate(event.comment.comment, length: 80) %>"<% end %></em></p>
  <% # MAKE SURE you call updated_at - it's updated when you open document during a session %>
  <p><em><%= time_ago_in_words(event.updated_at) %></em></p>

  <div class="clear"></div>
</div>
