<div class="event">
  <%= image_tag gravatar_url(current_user), size: '60x60', alt: current_user.name, class: 'event-img event-answer' %>

  <strong>Odpovedali ste na otázky ku zmluve</strong>
  <% # MAKE SURE you call updated_at - it's updated when you open document during a session %>
  <p><em><%= time_ago_in_words(event.updated_at) %></em></p>

  <div class="clear"></div>
</div>
