<div class="pages _dv_page_nav">
  <a href="" class="up _dv_prev_page" title="Predchádzajúca strana">&uarr;</a>
  <input type="text" class="_dv_current_page" size="2" /> <span>/</span> <span class="_dv_total_pages"></span>
  <a href="" class="down _dv_next_page" title="Nasledujúca strana">&darr;</a>
</div>
