<div id="search_panel">
  <% facet = @results.facets[:q] %>
  <%= render :partial => "facets/q_facet", :object => facet, :as => :facet %>
</div>
<div id="content">
  <ul id="tabs">
    <li class="active"><a href="#" class="list">Zoznam</a></li>
  </ul>
  <div class="top-for-bottombg">
    <% if @results.hits.any? %>
      <%= render :partial => 'search_results' %>
    <% else %>
      <%= render :partial => 'empty_search_results' %>
    <% end %>
  </div>
</div>

